* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

section.container-1 {
    height: 100vh;
    display: grid;
    grid-template: 
    "header" auto
    "main" 1fr 
    "icon" 0.1fr /
    1fr;
    grid-gap: 20px;
    justify-content: center;
    background-color: #ea755b;
    place-items: center;
}

.container-1 main.main-menu {
    grid-area: main;
    /* outline: 1px solid #000; */
}

.container-1 header.header-menu {
    grid-area: header;
    outline: 1px solid #000;
    margin-top: 30px;
    background-color: #35382e;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5px;
    place-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    align-content: start;
    padding-right: 50px;

}

.container-1 header.header-menu nav.navbar-1 ul li a {
    color: #ece5e1;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-style: italic;
}

.container-1 header.header-menu nav.navbar-1 ul li a:hover {
    color: #ea755b;
    transition: 0.5s;
}

.container-1 header.header-menu nav.navbar-2 ul li a:hover {
    color: #ea755b;
    transition: 0.5s;
}

/* .container-1 header.header-menu nav.navbar-1 ul {
    display: grid;
    justify-content: center;
} */

.container-1 header.header-menu nav.navbar-2 ul li a {
    color: #ece5e1;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.container-1 header.header-menu nav.navbar-2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.container-1 header.header-menu nav {
   outline: 1px solid #000;
}

.container-1 main.main-menu .main-menu-content {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-gap: 10x;
    justify-content: center;
    background-color: #35382e;
    outline: 1px solid #000;
    border-radius: 5%;
    padding: 10px 10px;
}

.container-1 main.main-menu .main-menu-content h2 {
    text-align: center;
    color: #f5cf04;
    letter-spacing: 2.5px;
    font-size: 28px;
    font-weight: 800;
    font-family: sans-serif;
}

.container-1 main.main-menu .main-menu-content p {
    color: #ece5e1;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    width: 75ch;
    padding-bottom: 10px;
}

.container-1 main.main-menu .main-menu-content p a {
    color: #69d0fd;
}

.container-1 main.main-menu .main-menu-content p a:hover {
    color: #f5cf04;
    transition: 0.5s;
}

.container-1 .icon {
    grid-area: icon;
}

.container-1 .icon a {
    color: #ece5e1;
    font-size: 36px;
    font-weight: 900;
}

.container-1 .icon a:hover {
    color: #f5cf04;
    transition: 0.5s;
}